* {
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
}
body,
ul,
li {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-size: 12px;
  font-family: ubuntu, helvetica, arial;
  overflow: hidden;
}
ul,
ol {
  list-style: none;
}